.card {
  border-radius: 12px;
  border: 1px solid #EAEBED;
  box-sizing: border-box;
  cursor: pointer;
}

.card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #5e96fc;
}

.card-salary {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
}

.card-dot {
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #7b7c88;
}

.card-time {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
}

.card-location {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232134;
}

.card-star {
  cursor: pointer;
  display: flex;
}

@media (max-width: 850px) {
  .card {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
  }
}

@media (max-width: 576px) {
  .card-title {
    font-size: 16px;
    line-height: 20px;
  }
  
  .card-salary {
    font-size: 12px;
    line-height: 16px;
  }
  
  .card-dot {
    font-size: 16px;
    line-height: 17px;
  }
  
  .card-time {
    font-size: 12px;
    line-height: 16px;
  }
  
  .card-location {
    font-size: 12px;
    line-height: 15px;
  }
  
}
