.empty-img {
  width: 240px;
  height: 230.27px;
}

.empty-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #343a40;
}

.search-button {
  padding: 10px 24px;
  width: 164px;
  height: 42px;
  background: #deecff;
  border-radius: 8px;
}

.search-button-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 155%;
  color: #3b7cd3;
}
